form.hsform_error_v2 div.hs-form-field:has(div.alert-tooltip) {
  position: relative;
}
form.hsform_error_v2 div.hs-form-field:has(div.alert-tooltip) ul.hs-error-msgs {
  display: none !important;
}
form.hsform_error_v2 div.hs-form-field .alert-tooltip {
  display: none;
  background-color: transparent;
  background-image: url("imgs/form-error-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 14px;
  height: 18px;
  width: 18px;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
form.hsform_error_v2 div.hs-form-field:has(ul.hs-error-msgs) .alert-tooltip {
  display: block !important;
}

.tooltip.bs-tooltip-auto {
  z-index: 100031;
}

.hsform_floating_label .hs-form-field:has(input[type=hidden]) {
  padding: 0;
  margin: 0;
  border: none;
}
.hsform_floating_label .hs-form-field label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  display: block;
  transition: all 0.2s ease;
  font: normal 400 14px/1.4 var(--ff-gotham);
  color: #181818;
  opacity: 0.5;
  z-index: 2;
}
.hsform_floating_label .hs-form-field:has(select) > label {
  top: 9px;
  transform: unset;
  font: normal 400 10px/1.4 var(--ff-gotham);
  opacity: 0.7;
}
.hsform_floating_label .hs-form-field input.hs-input[type=text],
.hsform_floating_label .hs-form-field input.hs-input[type=email],
.hsform_floating_label .hs-form-field input.hs-input[type=tel] {
  border-radius: 8px;
  border: solid 1px #ddd;
  font: normal 500 14px/1.4 var(--ff-gotham);
  color: #181818;
  padding: 22px 12px 11px 12px;
}
.hsform_floating_label .hs-form-field input.hs-input[type=text]:focus-visible,
.hsform_floating_label .hs-form-field input.hs-input[type=email]:focus-visible,
.hsform_floating_label .hs-form-field input.hs-input[type=tel]:focus-visible {
  border: solid 1px #2A95D5;
  outline: solid 2px #aad5ee;
}
.hsform_floating_label .hs-form-field input.hs-input.invalid.error {
  border: 1px solid #DF2358;
  outline: solid 2px #efa6a9;
}
.hsform_floating_label .hs-form-field.hs-fieldtype-phonenumber .custom-phone-input {
  position: relative;
  background-color: #fff;
}
.hsform_floating_label .hs-form-field.hs-fieldtype-phonenumber:has(.custom-phone-input:focus) label, .hsform_floating_label .hs-form-field.hs-fieldtype-phonenumber:has(.custom-phone-input:not([value=""])) label {
  top: 9px;
  transform: unset;
  font: normal 400 10px/1.4 var(--ff-gotham);
  opacity: 0.7;
}
.hsform_floating_label .hs-form-field.hs-fieldtype-phonenumber:has(.hs-fieldtype-intl-phone) label {
  left: calc(32% + 12px);
}
.hsform_floating_label .hs-form-field.hs-fieldtype-phonenumber:has(.hs-fieldtype-intl-phone) .label-dropdown-toggle {
  position: absolute;
  left: 12px;
  top: 9px;
  transform: unset;
  font: normal 400 10px/1.4 var(--ff-gotham);
  color: #181818;
  opacity: 0.7;
}
.hsform_floating_label .hs-form-field:not(:has(.custom-phone-input)):has(input:focus) label, .hsform_floating_label .hs-form-field:not(:has(.custom-phone-input)):has(input:not([value=""])) label {
  top: 9px;
  transform: unset;
  font: normal 400 10px/1.4 var(--ff-gotham);
  opacity: 0.7;
}

/* for floating label, end */
/* for consent field group, start */
div.legal-consent-container {
  margin: 20px 0 16px;
}
div.legal-consent-container div.field.hs-form-field {
  padding: 0;
  margin: 0;
}
div.legal-consent-container ul.inputs-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
div.legal-consent-container li.hs-form-booleancheckbox {
  display: block;
  padding: 0;
  margin: 0;
  border: solid 1px transparent;
}
div.legal-consent-container li.hs-form-booleancheckbox label.hs-form-booleancheckbox-display {
  display: flex;
  column-gap: 16px;
  margin: 0;
  padding: 8px;
  position: relative;
  top: unset !important;
  left: unset !important;
  cursor: pointer;
  position: relative;
}
div.legal-consent-container li.hs-form-booleancheckbox label.hs-form-booleancheckbox-display input.hs-input[name^=LEGAL_CONSENT] {
  appearance: none;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 16px;
  height: 16px;
}
div.legal-consent-container li.hs-form-booleancheckbox label.hs-form-booleancheckbox-display input.hs-input[name^=LEGAL_CONSENT]::before {
  content: "";
  background-color: #fff;
  width: 16px;
  height: 16px;
  border: solid 1px #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
div.legal-consent-container li.hs-form-booleancheckbox label.hs-form-booleancheckbox-display input.hs-input[name^=LEGAL_CONSENT]:checked::before {
  font-family: var(--font-family-fontawesome);
  content: "\f00c";
  font-size: 14px;
  color: #fff;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background-color: #2a95d5;
  border: solid 1px #ddd;
  border-radius: 4px;
  padding: 0;
  margin: 0;
}
div.legal-consent-container li.hs-form-booleancheckbox label.hs-form-booleancheckbox-display > span {
  font: normal 400 10px/1.4 var(--ff-gotham);
  padding: 0;
  margin: 0;
  display: block;
}
div.legal-consent-container li.hs-form-booleancheckbox label.hs-form-booleancheckbox-display > span a {
  color: #23527c;
  text-decoration: none;
}
div.legal-consent-container li.hs-form-booleancheckbox label.hs-form-booleancheckbox-display > span a:hover {
  text-decoration: underline;
}
div.legal-consent-container li.hs-form-booleancheckbox label.hs-form-booleancheckbox-display > span .hs-form-required {
  margin-left: 4px;
}

div.legal-consent-container:not(:has(input.hs-input:checked)):has(~ .hs_error_rollup) li.hs-form-booleancheckbox {
  border: 1px solid #e01a59;
  outline: solid 2px #efa6a9;
  border-radius: 8px;
  padding: 0;
}
div.legal-consent-container:not(:has(input.hs-input:checked)):has(~ .hs_error_rollup) input.hs-input[name^=LEGAL_CONSENT]::before {
  border: solid 1px #e01a59 !important;
}
div.legal-consent-container:not(:has(input.hs-input:checked)):has(~ .hs_error_rollup) input.hs-input[name^=LEGAL_CONSENT]:checked::before {
  border: solid 1px #ddd !important;
}

.hsform_intl_phone div.hs-fieldtype-phonenumber div.hs-fieldtype-intl-phone {
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  height: unset !important;
}
.hsform_intl_phone .custom-telephone-input-group {
  display: block;
}
.hsform_intl_phone .custom-telephone-input-group > div {
  position: relative;
}
.hsform_intl_phone .custom-telephone-input-group button.dropdown-toggle {
  background-color: #fff;
  border-radius: 8px;
  border: solid 1px #ddd;
  font: normal 500 14px/1.4 var(--ff-gotham);
  padding: 22px 12px 11px 12px;
  height: 56px;
  width: 30%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hsform_intl_phone .custom-telephone-input-group button.dropdown-toggle.show {
  border: 1px solid #2A95D5;
  outline: 2px solid #aad5ee;
}
.hsform_intl_phone .custom-telephone-input-group .custom-phone-input {
  border-radius: 8px;
  border: solid 1px #ddd;
  font: normal 500 14px/1.4 var(--ff-gotham);
  padding: 22px 12px 11px 12px;
  height: 56px;
  width: 68%;
  float: right;
}
.hsform_intl_phone .custom-telephone-input-group .custom-phone-input:focus-visible {
  border: solid 1px #2A95D5;
  outline: solid 2px #aad5ee;
}
.hsform_intl_phone .custom-telephone-input-group ul.dropdown-menu {
  overflow-y: scroll;
  max-height: 200px;
  border: 1px solid #2A95D5;
  border-radius: 8px;
  padding: 8px 4px 8px 12px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  /* width */
  /* Track */
  /* Handle */
}
.hsform_intl_phone .custom-telephone-input-group ul.dropdown-menu::-webkit-scrollbar {
  width: 11px;
}
.hsform_intl_phone .custom-telephone-input-group ul.dropdown-menu::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
  border: none;
}
.hsform_intl_phone .custom-telephone-input-group ul.dropdown-menu::-webkit-scrollbar-thumb {
  background: #aec3d7;
  border-radius: 10px;
  height: 40px;
  border: solid 2px #fff;
}
.hsform_intl_phone .custom-telephone-input-group .dropdown-item {
  font: normal 400 14px/1.4 var(--ff-gotham);
  margin: 6px 0;
  padding: 6px 4px 6px 8px;
  display: flex;
  align-items: center;
}
.hsform_intl_phone .custom-telephone-input-group .dropdown-item:hover {
  font: normal 500 14px/1.4 var(--ff-gotham);
  background-color: #f1f9fb;
}
.hsform_intl_phone .custom-telephone-input-group img.country-flag {
  border: solid 1px #ddd;
  margin-right: 8px;
}
.hsform_intl_phone div.hs-fieldtype-phonenumber:has(.hs-fieldtype-intl-phone):has(.hs-input.invalid.error) input.custom-phone-input {
  border: 1px solid #DF2358;
  outline: solid 2px #efa6a9;
}

div.modal_new {
  overflow-x: hidden;
  overflow-y: hidden;
}

div.modal_new div.modal-dialog {
  max-width: none;
  width: 100%;
  overflow-y: auto;
  top: 0;
  margin: 0;
}

#formtrial.modal_body {
  margin: 0;
  height: 100%;
  background-color: #f1f9fb;
}

.modal.trial-license-new .left {
  height: 100%;
  flex: 1 1 0;
  background-color: #fff;
  padding-right: 40px;
}
.modal.trial-license-new .left .product_logo {
  height: auto;
  max-height: 50px;
  max-width: 100%;
  width: auto;
}
.modal.trial-license-new .left .wrapper {
  height: 100%;
  width: 100%;
  max-width: 460px;
  margin: 0 0 0 40px;
  display: flex;
  flex-direction: column;
}
.modal.trial-license-new .left .bg_wrapper {
  background: linear-gradient(to bottom, #fff 0px, #fff 44px, transparent 45px, #fff 100%), linear-gradient(to right, transparent 0px, transparent 18px, #D9E5E9 19px, #D9E5E9 21px, transparent 0px);
}
.modal.trial-license-new .left .title .h1 {
  font: normal 900 24px/1.35 var(--ff-gotham);
  color: #E01A59;
  padding: 0;
  margin: 0 0 4px;
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.modal.trial-license-new .left .title .subtitle {
  font: normal 700 16px/1.8 var(--ff-gotham);
  color: #2A95D5;
  padding: 0;
  margin: 4px 0 0 52px;
}
.modal.trial-license-new .left .title .subtitle .detail {
  font: normal 400 16px/1.8 var(--ff-gotham);
  display: block;
  color: #181818;
  margin: 4px 0 0;
}
.modal.trial-license-new .left .title_of_listing {
  font: normal 700 16px/1.4 var(--ff-gotham);
  color: #181818;
  margin: 24px 0 16px;
}
.modal.trial-license-new .left .content {
  margin: 24px 0 0 52px;
}
.modal.trial-license-new .left .content article {
  position: relative;
}
.modal.trial-license-new .left .content article + article {
  margin-top: 12px;
}
.modal.trial-license-new .left .content article .h2 {
  font: normal 700 16px/1.6 var(--ff-gotham);
  color: #181818;
  margin: 0 0 4px 40px;
}
.modal.trial-license-new .left .content article p {
  font: normal 400 16px/1.8 var(--ff-gotham);
  color: #181818;
  margin: 0 0 0 40px;
}
.modal.trial-license-new .left .content article .floating_icon {
  position: absolute;
  width: 32px;
  height: 24px;
  top: 0;
  left: 0;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #63C1A0;
}
.modal.trial-license-new .left .content article:not(:has(.h2)) .floating_icon {
  top: 2px;
}
.modal.trial-license-new .left .modal_new_trial__support_team {
  background-color: #f1f9fb;
  padding: 6px 24px 6px 6px;
  border-radius: 128px;
  display: flex;
  align-items: center;
  column-gap: 16px;
  width: fit-content;
  margin: 0 auto;
}
.modal.trial-license-new .left .modal_new_trial__support_team .image_wrapper {
  --overlap_size: -12px;
  padding-left: calc(-1 * var(--overlap_size));
  text-wrap: nowrap;
}
.modal.trial-license-new .left .modal_new_trial__support_team .image_wrapper > img {
  margin-left: var(--overlap_size);
  width: 48px;
  height: auto;
}
.modal.trial-license-new .left .modal_new_trial__support_team .online {
  font: normal 700 16px/1.6 var(--ff-gotham);
  color: #63C1A0;
}
.modal.trial-license-new .left .need_help {
  font: normal 400 14px/1.6 var(--ff-gotham);
  color: #181818;
  text-align: center;
  margin-top: 16px;
}
.modal.trial-license-new .left .need_help strong {
  font: normal 700 14px/1.6 var(--ff-gotham);
}
.modal.trial-license-new .left .enterprise-trial__cta {
  font: normal 700 16px/1.8 var(--ff-gotham);
  color: #2A95D5;
  padding: 0;
  margin: 4px 0 0;
  text-align: center;
}
.modal.trial-license-new .left .enterprise-trial__cta i {
  margin-left: 4px;
}
.modal.trial-license-new .left .group__started_for_free_completed {
  display: none;
}
.modal.trial-license-new .left .group__started_for_free_completed .h1,
.modal.trial-license-new .left .group__started_for_free_completed .subtitle {
  color: #B9BDCA;
}
.modal.trial-license-new .left .group__booking {
  display: none;
}
.modal.trial-license-new .left .group__booking_completed {
  display: none;
}
.modal.trial-license-new .left .group__booking_completed .h1,
.modal.trial-license-new .left .group__booking_completed .subtitle {
  color: #B9BDCA;
}

.modal.trial-license-new .right {
  padding: 0 0 0 24px;
  height: 100%;
  background-color: #f1f9fb;
}
@media (min-width: 992px) {
  .modal.trial-license-new .right {
    background-image: url("imgs/bg_right_arrow.webp");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 100%;
  }
}
.modal.trial-license-new .right .wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.modal.trial-license-new .right .header {
  text-align: center;
  margin: 0;
}
.modal.trial-license-new .right .header .h2 {
  font: normal 300 20px/1.4 var(--ff-gotham);
  color: #202020;
  margin: 24px 0 0;
}
.modal.trial-license-new .right .header .h2 strong {
  font: normal 700 20px/1.4 var(--ff-gotham);
}
.modal.trial-license-new .right .right_content.page_one .hs-form-field.hs-firstname {
  display: none !important;
}
.modal.trial-license-new .right .right_content.page_one .hs-form-field.hs-phone {
  display: none !important;
}
.modal.trial-license-new .right .no_credit_required {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  font: normal 400 12px/1.2 var(--ff-gotham);
  color: #181818;
  margin-top: 24px;
  text-align: center;
}
.modal.trial-license-new .right section.trusted_by div.h2 {
  font: normal 400 16px/1.4 var(--ff-gotham);
  color: #181818;
  text-align: center;
  margin: 24px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal.trial-license-new .right section.trusted_by ul.our_clients {
  list-style: none;
  padding: 0;
  margin: 24px 0 0;
  -webkit-user-select: none;
  user-select: none;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 32px;
  row-gap: 8px;
}

.modal.trial-license-new form.hs-form {
  width: 360px;
  margin: 0 auto;
  /* checked, up */
  /* alert text */
  /* alert text */
}
.modal.trial-license-new form.hs-form legend,
.modal.trial-license-new form.hs-form label:not(.hs-form-booleancheckbox-display) {
  padding: 0;
  margin: 0;
  border: none;
  display: block;
}
.modal.trial-license-new form.hs-form input[type=text].hs-input,
.modal.trial-license-new form.hs-form input[type=tel].hs-input,
.modal.trial-license-new form.hs-form .input > select {
  margin-top: 1px;
}
.modal.trial-license-new form.hs-form .hs-input.hs-fieldtype-intl-phone {
  margin-top: 24px;
}
.modal.trial-license-new form.hs-form .hs-input.hs-fieldtype-intl-phone > select.hs-input,
.modal.trial-license-new form.hs-form .hs-input.hs-fieldtype-intl-phone > input[type=tel].hs-input {
  margin-top: 0;
}
.modal.trial-license-new form.hs-form input[type=email].hs-input,
.modal.trial-license-new form.hs-form input[type=text].hs-input,
.modal.trial-license-new form.hs-form input[type=tel].hs-input {
  font: normal 500 14px/50px var(--ff-gotham);
  color: #afafaf;
  display: block;
  width: 100%;
  transition-duration: 0.15s;
  border-radius: 8px;
  color: #202020;
}
.modal.trial-license-new form.hs-form .hs-richtext.hs-main-font-element {
  font: normal 400 12px/12px var(--ff-gotham);
  color: #afafaf;
  text-align: center;
  margin-top: 5px;
}
.modal.trial-license-new form.hs-form .hs-error-msg.hs-main-font-element,
.modal.trial-license-new form.hs-form .trial-license__action-error {
  font: normal 700 12px/12px var(--ff-gotham);
  color: #e01a59;
  text-align: center;
  margin: 5px 0 0 0;
  padding: 0;
}
.modal.trial-license-new form.hs-form .no-list.hs-error-msgs.inputs-list {
  list-style: none;
}
.modal.trial-license-new form.hs-form div.hs_submit {
  margin: 48px 0 0;
}
.modal.trial-license-new form.hs-form .hs-button.primary.large[type=submit] {
  font: normal 700 15px/54px var(--ff-gotham);
  color: #fff;
  background-color: #e01a59;
  width: 100%;
  max-width: unset;
  text-decoration: none;
  border-radius: 54px;
  border-width: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  transition-duration: 0.3s;
}
.modal.trial-license-new form.hs-form .hs-button.primary.large[type=submit]:hover {
  outline-width: 0;
  background-color: #c9041e;
  text-decoration: none;
  transition-duration: 0.15s;
}
.modal.trial-license-new form.hs-form div.hs_error_rollup {
  font: normal 700 12px/16px var(--ff-gotham);
  color: #e01a59;
  display: block;
  margin: 16px 0;
  padding: 0;
  text-align: center;
}
.modal.trial-license-new form.hs-form div.hs_error_rollup ul.no-list.hs-error-msgs.inputs-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.modal.trial-license-new form.hs-form div.hs_error_rollup + div.hs_submit {
  margin-top: 0;
}

.placeholder__hsform--two div.hs_submit {
  margin-top: 104px !important;
}

.modal.trial-license-new .page_submitted {
  font: normal 300 21px/1.6 var(--ff-gotham);
  color: #181818;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.modal.trial-license-new .page_submitted .title {
  font: normal 900 36px/1.2 var(--ff-gotham);
  color: #181818;
  margin: 32px 0;
}
.modal.trial-license-new .page_submitted .text {
  font: normal 400 18px/1.6 var(--ff-gotham);
  color: #181818;
}
.modal.trial-license-new .page_submitted .text a {
  font: normal 500 18px/1.6 var(--ff-gotham);
  color: #2A95D5;
}
.modal.trial-license-new .page_submitted .text a:hover {
  color: #E01A59;
}
.modal.trial-license-new .page_submitted p {
  margin: 0;
}
.modal.trial-license-new .page_submitted p + p {
  margin-top: 16px;
}

.customHSFormHideDefaultTelephone .hs-fieldtype-intl-phone select.hs-input,
.customHSFormHideDefaultTelephone .hs-fieldtype-intl-phone input[type=tel].hs-input {
  height: 0 !important;
  width: 0 !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

#trial-license .modal-loaded.donotdelete,
#trial-license-form-sent .modal-loaded.donotdelete,
#trial-license-after-download .modal-loaded.donotdelete,
#trial-license-after-download-form-sent .modal-loaded.donotdelete {
  font-size: 1px;
  display: none;
}

#firebaseui-auth-container {
  width: 360px;
  margin: 0 auto;
}
#firebaseui-auth-container .or_separator {
  background: linear-gradient(90deg, transparent 40%, #f1f9fb 40%, #f1f9fb 60%, transparent 60%), linear-gradient(180deg, transparent 7px, #D9E5E9 7px, #D9E5E9 8px, transparent 8px);
  text-align: center;
  height: 16px;
  line-height: 16px;
  font: normal 400 13px/16px var(--ff-gotham);
  margin: 24px 0;
}
#firebaseui-auth-container button.firebaseui-idp-button {
  border-radius: 64px;
  box-shadow: none;
  background-color: #fff;
  border: solid 1px #D9E5E9;
  min-height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  font: normal 500 14px/1.4 var(--ff-gotham);
  max-width: unset;
  width: 100%;
  color: #181818;
}
#firebaseui-auth-container button.firebaseui-idp-button:hover {
  border: solid 1px #678CB1;
}
#firebaseui-auth-container .firebaseui-card-content {
  padding: 0;
}
#firebaseui-auth-container .firebaseui-idp-list > .firebaseui-list-item,
#firebaseui-auth-container .firebaseui-tenant-list > .firebaseui-list-item {
  margin-bottom: 16px;
}
#firebaseui-auth-container img.firebaseui-idp-icon {
  width: 24px;
  height: 24px;
}

.trial-license__action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px;
  border-radius: 54px;
  border-width: 0;
  height: 54px;
  text-align: center;
  font-family: var(--ff-gotham);
  font-weight: 700;
  line-height: 18px;
  transition-duration: 0.3s;
}

.trial-license__action-button:hover,
.trial-license__action-button:focus {
  outline-width: 0;
  text-decoration: none;
  transition-duration: 0.15s;
}

.trial-license__action-button_white {
  border: 3px solid #e7eef0;
  padding: 0 50px;
  background-color: #ffffff;
  font-size: 14px;
  color: #2a95d5;
}

.trial-license__action-button_white:hover,
.trial-license__action-button_white:focus {
  border-color: transparent;
  background-color: #2a95d5;
  color: #ffffff;
}

.trial-license__action-button_red {
  padding: 0 35px 0 25px;
  background-color: #e01a59;
  font-size: 14px;
  color: #ffffff;
}

.trial-license__action-button_red:hover,
.trial-license__action-button_red:focus {
  background-color: #c9041e;
  color: #ffffff;
}

.trial-license__action-button_black {
  padding: 0 27px;
  background-color: #181818;
  font-size: 15px;
  color: #ffffff;
}

.trial-license__action-button_black:hover,
.trial-license__action-button_black:focus {
  background-color: #181818;
  color: #ffffff;
}

.trial-license__action-button_wide {
  padding-left: 58px;
  padding-right: 58px;
}

.trial-license__action-button-icon {
  margin-right: 0;
  font-size: 12px;
}

.trial-license__action-button_red .trial-license__action-button-text {
  margin-left: 8px;
  margin-top: 2px;
}

.trial-license__action-button_black .trial-license__action-button-text {
  margin-left: 9px;
}
dialog#dialogHsMeetingFormFullScreen {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 100%;
  height: 100%;
  max-height: unset;
  max-width: unset;
}
dialog#dialogHsMeetingFormFullScreen::backdrop {
  background-color: rgba(24, 24, 24, 0.74);
}
dialog#dialogHsMeetingFormFullScreen:focus-visible {
  outline: none;
}
dialog#dialogHsMeetingFormFullScreen .meetings-iframe-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
dialog#dialogHsMeetingFormFullScreen .meetings-iframe-container:has(iframe[data-hs-ignore=true]) {
  background-color: transparent;
}
dialog#dialogHsMeetingFormFullScreen .close_button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  top: 12px;
  right: 12px;
  color: #fff;
  background-color: rgba(24, 24, 24, 0.74);
  cursor: pointer;
  border-radius: 50%;
  font-size: 18px;
}