:root, body.dark-theme {
  --color-foreground: #ccd5dc;
  --color-navbar: #66666d;
  --color-breadcrumb: #ccc;
  --color-underline: #ddd;
  --color-toc-hover: #fff;
  --color-background: #2d2d30;
  --color-background-subnav: #333337;
  --color-background-dark: #1e1e1e;
  --color-background-table-alt: #212123;
  --color-background-quote: #69696e;
}

@font-face {
	font-family: 'Gotham-Black';
	src: url('../fonts/gotham-black-webfont.eot?') format('embedded-opentype'), url('../fonts/gotham-black-webfont.woff2') format('woff2'), url('../fonts/gotham-black-webfont.woff') format('woff'), url('../fonts/gotham-black-webfont.ttf') format('truetype'), url('../fonts/gotham-black-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Gotham-Bold';
	src: url('../fonts/gotham-bold-webfont.eot?') format('embedded-opentype'), url('../fonts/gotham-bold-webfont.woff2') format('woff2'), url('../fonts/gotham-bold-webfont.woff') format('woff'), url('../fonts/gotham-bold-webfont.ttf') format('truetype'), url('../fonts/gotham-bold-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Gotham-Light';
	src: url('../fonts/gotham-light-webfont.eot?') format('embedded-opentype'), url('../fonts/gotham-light-webfont.woff2') format('woff2'), url('../fonts/gotham-light-webfont.woff') format('woff'), url('../fonts/gotham-light-webfont.ttf') format('truetype'), url('../fonts/gotham-light-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Gotham-Medium';
	src: url('../fonts/gotham-medium-webfont.eot?') format('embedded-opentype'), url('../fonts/gotham-medium-webfont.woff2') format('woff2'), url('../fonts/gotham-medium-webfont.woff') format('woff'), url('../fonts/gotham-medium-webfont.ttf') format('truetype'), url('../fonts/gotham-medium-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
body {
  font-family: 'Gotham-Light', 'Montserrat', sans-serif;
}

body .nuget-cta{
box-sizing: border-box;
margin-bottom: 0;
white-space: nowrap;
cursor: pointer;
user-select: none;
border-radius: 40px;
display: inline-block;
text-decoration: none;
text-align: center;
font-size: 14px;
vertical-align: middle;
transition: all .2s;
background: #d40046 !important;
color: #fff !important;
position: relative;
height: auto;
line-height: normal;
padding: 11px 35px;
padding-bottom: 16px;
border: none;
font-size: 14px;
font-family: "Gotham-Bold";
font-weight :400;
}

body .nuget-cta:hover{
  color: #fff;
  box-shadow: 0 0 12px 4px  rgba(255,255,265,0.6);

}

body .nuget-cta i {
    display: inline-block;
    padding-top: 5px;
    width: 16px;
    height: 16px;
    background: url(nuget.white.svg);
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: 0px 0px !important;
    background-size: 95% !important;
    position: relative !important;
    margin-right: 2px;
    top: 2px;
    right: 2px;

}

body .footer span.pull-right{
  /*make way for beacon*/
padding-top:25px; padding-right:18px;
}


#affix{
  overflow-y: auto;
}


body.dark-theme  .sideaffix ::-webkit-scrollbar {
    width: 12px;
}
 
body.dark-theme  .sideaffix ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
body.dark-theme  .sideaffix ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 

}


body.dark-theme  #sidetoc ::-webkit-scrollbar {
    width: 12px;
}
 
body.dark-theme  #sidetoc ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
body.dark-theme  #sidetoc ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 

}


body.light-theme {
  --color-foreground: #171717;
  --color-breadcrumb: #4a4a4a;
  --color-toc-hover: #4c4c4c;
  --color-background: #ffffff;
  --color-background-subnav: #f5f5f5;
  --color-background-dark: #ddd;
  --color-background-table-alt: #f9f9f9;
}

body {
  color: var(--color-foreground);
  line-height: 1.5;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
  background-color: var(--color-background);
}

h1 {
  font-weight: 600;
  font-size: 32px;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.8;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.8;
}

h5 {
  font-size: 14px;
  padding: 10px 0px;
}

article h1, article h2, article h3, article h4 {
  margin-top: 35px;
  margin-bottom: 15px;
}

article h4 {
  padding-bottom: 8px;
  border-bottom: 2px solid var(--color-underline);
}

.navbar-brand>img {
  color: var(--color-background);
}

.navbar {
  border: none;
}



.subnav {
  border-top: 1px solid var(--color-underline);
  background-color: var(--color-background-subnav);
}

.navbar-inverse {
  background-color: var(--color-background-dark);
  z-index: 100;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
  color: var(--color-navbar);
  background-color: var(--color-background-dark);
  border-bottom: 3px solid transparent;
  padding-bottom: 12px;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  color: var(--color-foreground);
  background-color: var(--color-background-dark);
 /* border-bottom: 3px solid var(--color-background-subnav);*/
  transition: all ease 0.25s;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: var(--color-foreground);
  background-color: var(--color-background-dark);
 /* border-bottom: 3px solid var(--color-foreground);*/
  transition: all ease 0.25s;
}

.navbar-nav li:last-child a[href*="#trial-license"]::before {
  display: inline-block;
  content: url("key-icon-pink.svg");
  width: 20px;
  height: 20px;
}

.navbar-nav li:last-child a[href*="#trial-license"] {
  background: #fff!important;
  border: 2px solid #d40046!important;
  color: #d40046!important;
  border-radius: 40px;
  text-decoration: none;
  text-align: center;
  margin: 7px 5px 0;
  padding: 0 27px;
  height: 34px;
  line-height: 30px;
  font-size: 14px;
  font-family: "Gotham-Bold";
  vertical-align: middle;
  transition: all .2s;
}

.navbar-nav li:last-child a[href*="#trial-license"]:hover {
  background: #d40046!important;
  color: #fff!important;
  box-shadow: 0 0 12px 4px #dee2e2;
}

.navbar-nav li:last-child a[href*="#trial-license"]:hover::before {
  content: url("key-icon-white.svg");
}

.api-reference-right-sidebar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.api-reference-right-sidebar__link {
  font-family: Gotham-Bold;
  color: #d40046 !important;
  padding: 0 !important;
}

.api-reference-right-sidebar__list-item::before {
  display: inline-block;
  
}

.api-reference-right-sidebar__list-item--download-icon::before {
  content: url("download-icon-pink.svg");
  padding: 0 2px 0 10px;
}

.api-reference-right-sidebar__list-item--key-icon::before {
  content: url("key-icon-pink.svg");
  padding: 0 5px 0 10px;
}

.api-reference-right-sidebar__list-item:hover .api-reference-right-sidebar__link {
  color: #FFF !important;
}

.api-reference-right-sidebar__list-item--key-icon:hover::before {
  content: url("key-icon-white.svg");
}

.api-reference-right-sidebar__list-item--download-icon:hover::before {
  content: url("download-icon-white.svg");
}

.light-theme .api-reference-right-sidebar__list-item:hover .api-reference-right-sidebar__link {
  color: #000 !important;
}

.light-theme .api-reference-right-sidebar__list-item--key-icon:hover::before {
  content: url("key-icon-black.svg");
}

.api-reference-right-sidebar__list-item--display-none {
  display: none;
}

.light-theme .api-reference-right-sidebar__list-item--download-icon:hover::before {
  content: url("download-icon-black.svg");
}

.navbar-form .form-control {
  border: none;
  border-radius: 0;
}

.light-theme .navbar-brand svg {
  /*  filter: brightness(20%);*/
}

.toc .level1>li {
  font-weight: 400;
}

.toc .nav>li>a {
  color: var(--color-foreground);
}

.sidefilter {
  background-color: var(--color-background);
  border-left: none;
  border-right: none;
}

.sidefilter {
  background-color: var(--color-background);
  border-left: none;
  border-right: none;
}

.toc-filter {
  padding: 10px;
  margin: 0;
  background-color: var(--color-background);
}

.toc-filter>input {
  border: none;
  border-radius: unset;
  background-color: var(--color-background-subnav);
  padding: 5px 0 5px 20px;
  font-size: 90%
}

.toc-filter>.clear-icon {
  position: absolute;
  top: 17px;
  right: 15px;
}

.toc-filter>input:focus {
  color: var(--color-foreground);
  transition: all ease 0.25s;
}

.toc-filter>.filter-icon {
  display: none;
}

.sidetoc>.toc {
  background-color: var(--color-background);
  overflow-x: hidden;
}

.sidetoc {
  background-color: var(--color-background);
  border: none;
}

.alert {
  background-color: inherit;
  border: none;
  padding: 10px 0;
  border-radius: 0;
}

.alert>p {
  margin-bottom: 0;
  padding: 5px 10px;
  border-bottom: 1px solid;
  background-color: var(--color-background-dark);
}

.alert>h5 {
  padding: 10px 15px;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: bold;
  border-top: 2px solid;
  background-color: var(--color-background-dark);
  border-radius: none;
}

.alert>ul {
  margin-bottom: 0;
  padding: 5px 40px;
}

.alert-info {
  color: #1976d2;
}

.alert-warning {
  color: #f57f17;
}

.alert-danger {
  color: #d32f2f;
}

pre {
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  word-break: break-all;
  word-wrap: break-word;
  background-color: var(--color-background-dark);
  border-radius: 0;
  border: none;
}

code {
  background: var(--color-background-dark) !important;
  border-radius: 2px;
}

.hljs {
  color: var(--color-foreground);
}

.toc .nav>li.active>.expand-stub::before, .toc .nav>li.in>.expand-stub::before, .toc .nav>li.in.active>.expand-stub::before, .toc .nav>li.filtered>.expand-stub::before {
  content: "▾";
}

.toc .nav>li>.expand-stub::before, .toc .nav>li.active>.expand-stub::before {
  content: "▸";
}

.affix ul ul>li>a:before {
  content: "|";
}

.breadcrumb {
  background-color: var(--color-background-subnav);
}

.breadcrumb .label.label-primary {
  background: #444;
  border-radius: 0;
  font-weight: normal;
  font-size: 100%;
}

#breadcrumb .breadcrumb>li a {
  border-radius: 0;
  font-weight: normal;
  font-size: 85%;
  display: inline;
  padding: 0 .6em 0;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  color: var(--color-breadcrumb);
}

#breadcrumb .breadcrumb>li a:hover {
  color: var(--color-foreground);
  transition: all ease 0.25s;
}

.breadcrumb>li+li:before {
  content: "»"; 
  font-size: 120%;
  color: #999;
  padding: 0;
}

.light-theme .breadcrumb>li+li:before {
  color: var(--color-foreground)
 }

.toc .level1>li {
  font-weight: 600;
  font-size: 130%;
  padding-left: 5px;
}

.footer {
  border-top: none;
  
  padding: 15px 0;
  font-size: 90%;
  display: table;
  height: 65px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10;
  text-align: center;
  background-color: hsla(0,0%,9%,.8);
}

.toc .nav>li>a:hover, .toc .nav>li>a:focus {
  color: var(--color-toc-hover);
  transition: all ease 0.1s;
}

.form-control {
  background-color: var(--color-background-subnav);
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input#search-query:focus {
  color: var(--color-foreground);
}

.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border: 1px solid var(--color-background-dark);
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: var(--color-background-table-alt);
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 10px;
  font-size: 110%;
  border-left: 5px solid var(--color-background-quote);
  color: var(--color-background-quote);
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
  background-color: var(--color-background-subnav);
  border-color: var(--color-background-subnav);
}

.breadcrumb>li, .pagination {
  display: inline;
}

.tabGroup a[role="tab"] {
  border-bottom: 2px solid var(--color-background-dark);
}

.tabGroup a[role="tab"][aria-selected="true"] {
  color: var(--color-foreground);
}

.tabGroup section[role="tabpanel"] {
  border: 1px solid var(--color-background-dark);
}

.sideaffix > div.contribution > ul > li > a.contribution-link:hover {
  background-color: var(--color-background);
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #337ab7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #337ab7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}
.toggle-mode .icon {
  display: inline-block;
}

.toggle-mode .icon i {
  font-style: normal;
  font-size: 17px;
  display: inline-block;
  padding-right: 7px;
  padding-left: 7px;
  vertical-align: middle;
}

@media (min-width: 1600px) {
  .container {
    width: 100%;
  }
  .sidefilter {
    width: 18%;
  }
  .sidetoc {
    width: 18%;
  }
  .article.grid-right {
    margin-left: 19%;
  }
  .sideaffix {
    width: 11.5%;
  }
  .affix ul>li.active>a {
    white-space: initial;
  }
  .affix ul>li>a {
    width: 99%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.modal-dialog {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10040;
  overflow-y: auto;
  width: 90%;
  max-width: 1270px;
  margin: 30px auto;
}

.modal-content {
  border-radius: 0;
}

.modal-header {
  border: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.trial-license {
  display: flex;
}

.trial-license__info {
  background-color: #f1f9fb;
}

.trial-license_light .trial-license__info-content {
  position: relative;
  width: 819px;
  padding-top: 64px;
  padding-left: 216px;
  padding-bottom: 64px;
}

.trial-license_light .trial-license__info-title {
  font-size: 40px;
  color: #2a95d5;
  font-family: "Gotham-Black";
  line-height: 50px;
}

.modal .slide-out-close-bold {
  position: absolute;
  top: 14px;
  right: 15px;
  z-index: 1;
  width: 24px;
  height: 24px;
  background-image: url(https://ironpdf.com/img/svgs/modal-close.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
  transition-duration: .15s;
}

.trial-license__info-features-title {
  margin-top: 8px;
  font-family: Gotham-Bold;
  font-size: 18px;
  color: #e01a59;
}

.trial-license__info-features {
  margin-top: 15px;
}

.trial-license__info-features-list {
  margin-top: 8px;
}

.trial-license__info-features-single {
  display: block;
  padding: 8px 10px 7px 0;
  position: relative;
  font-size: 18px;
  line-height: 20px;
  color: #181818;
}

.trial-license_light .trial-license__info-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  filter: drop-shadow(0 10px 10px rgba(24,24,24,.2));
  background-repeat: no-repeat;
}

.trial-license__info-features-single:before {
  content: " ";
  display: inline-block;
  margin-top: 3px;
  margin-right: 4px;
  width: 17px;
  height: 13px;
  background-image: url(https://ironpdf.com/img/svgs/tick-green.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.trial-license__action {
  margin: 0 auto;
}

.trial-license__action-title {
  margin-top: 41px;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #202020;
}

.trial-license__action-features-single {
  display: block;
  padding: 6px 10px 5px;
  position: relative;
  font-size: 15px;
  line-height: 17px;
  color: #202020;
  margin-bottom: 23px;
}

.trial-license__action-features {
  text-align: center;
}

.trial-license__action-features-single:before {
  content: " ";
  display: inline-block;
  margin-top: 5px;
  margin-right: 4px;
  margin-bottom: -2px;
  width: 17px;
  height: 13px;
  background-image: url(https://ironpdf.com/img/svgs/tick-green.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.trial-license__action-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 14px 0 0;
}

.trial-license__action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px;
  border-radius: 54px;
  border-width: 0;
  height: 54px;
  text-align: center;
  font-family: "Gotham-Bold";
  font-weight: 400;
  line-height: 18px;
  transition-duration: .3s;
}

.trial-license__action-button_red {
  padding: 0 35px 0 25px;
  background-color: #e01a59;
  font-size: 14px;
  color: #fff;
}

.trial-license__action-button_red:focus, .trial-license__action-button_red:hover {
  background-color: #c9041e;
  color: #fff;
}

.trial-license__action-button_white:focus, .trial-license__action-button_white:hover {
  border-color: transparent;
  background-color: #2a95d5;
  color: #fff;
}

.trial-license__action-button:focus, .trial-license__action-button:hover {
  outline-width: 0;
  text-decoration: none;
  transition-duration: .15s;
}

.trial-license__action-button_red .trial-license__action-button-text {
  margin-left: 8px;
  margin-top: 2px;
}

.trial-license__action-button_white {
  border: 3px solid #e7eef0;
  padding: 0 50px;
  background-color: #fff;
  font-size: 14px;
  color: #2a95d5;
}

.trial-license__action-description_highlighted {
  margin-top: auto;
  padding: 24px 0 23px;
  width: 100%;
}

.trial-license__action-description {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #202020;
}

.trial-license__action-description a {
  font-family: "Gotham-Bold";
  font-weight: 400;
  color: #2194d7;
  transition-duration: .3s;
}

.display-none {
  display: none;
}

#hubspot-form__form {
  position: relative;
  z-index: 1000;
}

.hs-input,
.trial-license__action-input {
	display: block;
	border: 3px solid #E7EEF0;
	padding: 0px 20px 2px;
	width: 100%;
	height: 56px;
	font-family: 'Gotham-Medium';
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #202020;
	transition-duration: 0.15s;
}

.hs-input::placeholder,
.trial-license__action-input::placeholder {
	color: #AFAFAF !important;
	opacity: 1;
}

.hs-input:focus,
.trial-license__action-input:focus {
	border-color: #2A95D5;
	outline-width: 0;
}

.hs-input.invalid.error,
.trial-license__action-input_incorrect {
	border: 3px solid #DF2358
}

.no-list.hs-error-msgs.inputs-list {
	list-style: none;
	margin: 12px 0 20px;
	padding: 0;
}

.hs-error-msg.hs-main-font-element {
	margin: 10px 0;
	display: block;
	margin-top: 0;
	font-family: 'Gotham-Medium';
	font-weight: 400;
	font-size: 12px;
	line-height: 0;
	text-align: center;
	color: #DF2358;
}

.hbspt-form .hs-form-field:first-child {
	margin: 25px 0 15px;
}

.hs-form-field {
	margin: 15px 0;
}

.hs-form-field label {
	display: none;
}

.hs_submit {
	text-align: center;
}

.hs-button {
	margin: 15px 0 15px;
	border-radius: 54px;
	border-width: 0;
	padding: 0 57px;
	height: 54px;
	text-align: center;
	font-family: 'Gotham-Bold';
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #FFFFFF;
	background-color: #DF2358;
	transition-duration: .3s;
	max-width: 100%;
}
